<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="robotiq_ur_hande" params="parent prefix:='' MAC:='_000000000004' *origin">
    <xacro:include filename="$(find robotiq_hande_gripper_visualization)/urdf/robotiq_hande.urdf.xacro" />

    <!-- Tool Adapter -->
    <link name="${prefix}interface_link">
      <visual>
        <material name="dark_grey"/>
        <origin xyz="0 0 0.01"/>
        <geometry>
          <cylinder length="0.028" radius="0.0375"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0.01"/>
        <geometry>
          <cylinder length="0.028" radius="0.0375"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}interface_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}interface_link" />
      <xacro:insert_block name="origin"/>
    </joint>

    <!-- Attach Gripper to Tool Adapter -->
    <xacro:robotiq_hande prefix="${prefix}" parent="${prefix}interface_link">
      <origin xyz="0 0 0.021"/>
    </xacro:robotiq_hande>
  </xacro:macro>
</robot>
